# Build files
.gradle
.kotlin
build
__pycache__/
*.pyc

# IDE files
*.iml
.idea/*
!.idea/icon.svg
/captures

# Configuration files
keystore.properties
local.properties
*.keystore
*.jks
*.p12
*.pem
/dist/

# macOS specific files
.DS_Store
